<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @person.age %>
</p>

<p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>

<p>
  <b>Sex:</b>
  <%= @person.sex %>
</p>

<p>

  <b>Address:</b>
  <%= @person.address %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<%= button_to'que ding', rooms_path(:person_id=>@person) %>
