<div id="form">
<%= simple_form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :leibie,collection:["套房","普通","单间"], label:'类别' %>
    <%= f.input :number, label:'编号' %>
    <%= f.input :price, label:'价格' %>
    <%= f.input :zhuangtai, collection:["yi kai","kong fang"], label:'状态' %>
    <%= f.submit'确定', :class => ' btn btn-primary btn-inverse' %>
<% end %>
</div>
