<div class="body">
 <table class="table-striped table table-bordered table-hover">
   <tr>
    <th><h4>类别<h4></th>
    <th><h4>编号<h4></th>
    <th><h4>状态<h4></th>
    <th><h4>价格<h4></th>
    <th></th>
   </tr>
<% @rooms.each do |room| %>
   <tr id='<%="room_#{room.id}"%>'>
    <td><%= room.leibie%></td>
     <td><%= room.number%></td>
    <td> <%= room.zhuangtai%></td>
     <td><%= room.price%></td>
    <td><%= link_to '查看', chakan_rooms_path(:room_id=>room)%>
   <%= link_to '开房', new_person_path(:id=>room) %>
    <%= link_to '退房',room, :method => :delete, :confirm =>'are you sure?'%></td>
    <td><%= link_to '编辑房间',edit_room_path(room)%></td>
   
  
</tr>
<% end %>
</table>
</div>





